<html lang="es">
  <div class="prin-footer">
    <a href="#principal"><i class="fas fa-angle-double-up"></i></a>
    <hr>
    <div class="social-icons">
      <h2>Redes Sociales</h2>
      <ul>
        <li><a href="https://www.facebook.com/niclson256"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.instagram.com/print.sr_nick/"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://twitter.com/PrintSrNick"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/in/nicolas-aguilera-6a48551a2"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
    <div class="footer">
      <i class="far fa-copyright"></i> 2020 Desarrollado por<a href="#">Nicolas Aguilera García</a>
    </div>
  </div> 
</html>