<html lang="es">
  <div class="modal-container">
    <div class="modal modal-close">
      <p class="close">X</p>
      <div class="container-modal">
        <div class="imagen-modal">
          <img src="" alt="" id="img-modal">
        </div>
        <div class="modal-textos">
          <h1 id="titulo-modal">Prueba de formulario modal</h1>
          <table>
            <tr>
              <th>Diámetro sobre el ecuador: </th>
              <th><span id="valor-diametro">##</span> <strong>Km</strong></th>
            </tr>
            <tr>
              <th>Masa planetaria: </th>
              <th><span id="valor-masa">##</span> <strong>*</strong></th>
            </tr>
            <tr>
              <th>Duración de la traslación: </th>
              <th><span id="valor-traslacion">##</span> <strong>Días</strong></th>
            </tr>
            <tr>
              <th>Duración de la rotación: </th>
              <th><span id="valor-rotacion">##</span> <strong>Días</strong></th>
            </tr>
            <tr>
              <th>Satélites naturales: </th>
              <th><span id="valor-satelites">##</span></th>
            </tr>
          </table>
          <small>* La masa se presenta en relación a la Tierra.</small>
          <h2>¿Cuánto seria mi peso en este planeta?</h2>
          <div class="formulario">
            <input type="text" name="Prueba" id="input-value" placeholder="Peso en Kg sin decimal">
            <input type="button" value="Calcular" id="calcular">
          </div>
        </div>

      </div>
    </div>
  </div>
</html>